body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.App {
    margin-left: 8px;
}

.app-input {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.app-input div {
    margin-bottom: 5px;
    margin-top: 5px;
}

.app-input span {
    width: 85px;
    display: inline-block;
}

.app-input button {
    width: 150px;
    margin-top: 10px;
}

.data-table-wrapper tr {
    border-bottom: 1px solid black;
}